<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>websocket通讯</title>
</head>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
    let socket;
    let cameraMap = new Map();
    if (typeof(WebSocket) === "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        //等同于socket = new WebSocket("ws://localhost:8888/xxxx/im/25");
        //var socketUrl="${request.contextPath}/im/"+$("#userId").val();
        let socketUrl = "http://localhost:8888/webrtc/v1/server/camera";
        socketUrl = socketUrl.replace("https", "ws").replace("http", "ws");
        console.log(socketUrl);

        socket = new WebSocket(socketUrl);
        //打开事件
        socket.onopen = function () {
            console.log("websocket已打开");
        };
        //获得消息事件
        socket.onmessage = function (msg) {
            let obj = JSON.parse(msg.data);
            let identity = obj.identity;
            let base64Data = obj.message;
            if (!cameraMap.has(identity)) {
                let newImg = new Image();
                newImg.src = base64Data;
                document.getElementById("cameraBox").appendChild(newImg);
                cameraMap.set(identity, newImg);
            } else {
                let img = cameraMap.get(identity);
                img.src = base64Data;
            }
        };
        //关闭事件
        socket.onclose = function () {
            console.log("websocket已关闭");
        };
        //发生了错误事件
        socket.onerror = function () {
            console.log("websocket发生了错误");
        }
    }
</script>
<body>
<div id="cameraBox" class="box">
</div>
</body>

</html>